.example-spacer {
	flex: 1 1 auto;
}

.mat-tool{
	padding: 0 46px;
}

.nav-btn{
	position: relative;
	right: 10px;
	appearance: auto;
	writing-mode: horizontal-tb !important;
	text-rendering: auto;
	color: buttontext;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	box-sizing: border-box;
	background-color: transparent;
	margin: 0em;
	border-width: 0px;
	border-style: outset;
	border-color: transparent;
	border-image: none;
	box-shadow: 0px 0px 20px -20px;
	cursor: pointer;
	transition: all 0.2s ease-in-out 0ms;
	user-select: none;
	font-family: 'Poppins', sans-serif;
}

.nav-btn:hover {
	background-color: rgb(222, 215, 215);
	box-shadow: 0px 0px 20px -18px;
}
  
.nav-btn:active {
	transform: scale(0.95);
}

.carousel-inner{
	height: 800px;
}


img{
	max-width: 100%;
	max-height: 1000px;
}

//Card styling

.card-container{
	position: relative;
	top: 140px;
	left: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 72vw;
	column-gap: 120px;
	row-gap: 80px;
}

.card-course
{
	width: 290px;
	cursor: pointer;
}
  
.content {
	height: 300px;
	width: 290px;
	text-align: center;
	position: relative;
	transition: all 2.25s;
	background-color: rgb(127, 204, 240);
	padding: 5em;
	transform-style: preserve-3d;
}

.card-course:hover .content {
	transform: rotateY(0.5turn);
}

.front,
.back {
	background-image: url(https://img.freepik.com/free-vector/girl-with-flying-books-with-magic-glow-sparkles-vector-cartoon-fantasy-illustration-happy-chi_107791-7513.jpg?size=338&ext=jpg);
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 2em;
	color: #e6dd32;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

.title {
	transform: translateZ(5rem);
	font-size: 2rem;
}

.subtitle {
	transform: translateZ(2rem);
}

.back {
	transform: rotateY(0.5turn);
	background-color: #009bff;
}

.description {
	transform: translateZ(3rem);
}



.calendar-div{
	width: auto;
	height: 45rem;
}

.btn-close{
	margin-left: auto;
}


.offcanvas-body{
	position: relative;
	top: 5rem;
	width: auto;
}

.offcanvas-header{
	background-color: white;
}

.btn-offcanvas {
	font-size: 17px;
	background: transparent;
	border: none;
	padding: 1em 1.5em;
	color: #ffedd3;
	text-transform: uppercase;
	position: relative;
	transition: .5s ease;
}
  
.btn-offcanvas::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 0;
	background-color: #ffc506;
	transition: .5s ease;
}
  
.btn-offcanvas:hover {
	color: #1e1e2b;
	transition-delay: .5s;
}
  
.btn-offcanvas:hover::before {
	width: 100%;
}
  
.btn-offcanvas::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
	background-color: #ffc506;
	transition: .4s ease;
	z-index: -1;
}
  
.btn-offcanvas:hover::after {
	height: 100%;
	transition-delay: 0.4s;
	color: aliceblue;
}

.btn-holder{
	position: relative;
	display: flex;
	flex-direction: column;
	top: 10rem;
	row-gap: 30px;
}

.updates-container{
	position: absolute;
	left: 96em;
	top: 67em;
	display: flex;
	flex-direction: column;
	width: calc(100% - 100em);
	height: 80rem;
	row-gap: 20px;
}

.upcoming-events,.timeline{
	height: 30%;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 10px;
}

.events-container, .timeline-container{
	display: flex;
	flex-shrink: 0;
	flex-grow: 1;
	padding: 5px;
	// width: 100%;
	// height: 87%;
	// position: relative;
	// bottom: 16px;
	flex: 100%;
}

.upcoming-events h1{
	padding: 5px;
	background-color: #184e77;
	color: white;
}

.timeline h1{
	padding: 5px;
	background-color: #184e77;
	color: white;
}

.progress{
	--mdb-progress-height: 20px;
}

.user-img{
	width: 30px;
	height: 30px;
}

.user-img:hover{
	background-color: rgb(222, 215, 215);
	cursor: pointer;
}


.events-list, .timeline-list{
	width: 100%;
	font-size: 20px;
}

.event-li:not(:last-child)
{
	margin-bottom: 10px;
}

.timeline-li:not(:last-child)
{
	margin-bottom: 10px;
}

  





  