<!--Content-->
<div class="jumbotron jumbotron-fluid">
    <div class="content">
      <h3 class="display-5">Unit-4</h3>
      <p class="lead">In this unit we will cover Heap,Trees 
        and Graphs along with some problems to make you familiar with these concepts</p>
    </div>
</div>          
<!--Links-->
<div class="acc">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Module 1: Heap
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="https://youtu.be/MCuERE9Ewbo">
            <input type="checkbox" name="link1" value="link">Introduction to Heap Data Structure</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/XzA5Ts_vXfw">
            <input type="checkbox" name="link1" value="link">Heap using STL</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/j6iP4lDTKyI">
            <input type="checkbox" name="link1" value="link">Min Heap & Max Heap </a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/HqPJF2L5h9U">
            <input type="checkbox" name="link1" value="link">Heap Sort and Heapify</a>
            <button type="button">Mark Attendance</button><br>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Module 2: Trees
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="https://youtu.be/_jKa4gycZTw">
            <input type="checkbox" name="link1" value="link">Introduction to Binary Tree</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/67zlUtAr2LE">
            <input type="checkbox" name="link1" value="link">Binary Tree Traversal</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/HJKoNLGRnYk">
            <input type="checkbox" name="link1" value="link">Build tree from Preorder and Inorder </a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/PJX9T2oVKmk">
            <input type="checkbox" name="link1" value="link">Build tree from Postorder and Inorder </a>
            <button type="button">Mark Attendance</button><br>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Module 3: Graphs
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="https://youtu.be/eGc5TQpBMjA">
            <input type="checkbox" name="link1" value="link">Introduction to Graph Data Structure</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/ymMZEudHUsk">
            <input type="checkbox" name="link1" value="link">Terminologies in Graph</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/3pr9Ce9vECc">
            <input type="checkbox" name="link1" value="link">Representaion of Graph</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/geOBaNYYInc">
            <input type="checkbox" name="link1" value="link">Breadth First Search (BFS)</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/GmZNp9_-imM">
            <input type="checkbox" name="link1" value="link">Depth First Search (BFS)</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/orl8SsQOToc">
            <input type="checkbox" name="link1" value="link">Bipartite Graph</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/nY-VMGp72NI">
            <input type="checkbox" name="link1" value="link">Connected Componenets</a>
            <button type="button">Mark Attendance</button><br>
        </mat-expansion-panel>
    </mat-accordion>
</div>
