.container 
{
   padding: 0;
   margin: 30px;
   width: 100%;
   margin-bottom: 20px;
}
.content
{
    margin-right: 20px;
    margin-left: 15px;
    text-align: center;
}
.display-5
{
   padding-top: 2px;
   padding-bottom: 5px;
   font-weight: 500;
}
.lead
{
    font-weight: 400;
}
.jumbotron {
   padding: 10px;
   margin: 30px;
   opacity: 0.5;
}