.login-container {
    margin: 20px auto;
    width: 300px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  
  label {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  input {
    font-size: 1.2em;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    font-size: 1.2em;
    margin-top: 10px;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  