<button (click)="getName()">{{name}}</button>

<div class="login-container">
  <h2>Login Form</h2>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" />
    </div>
    <button type="submit">Login</button>
  </form>
</div>

<div class="login-container">
  <h2>Registration Form</h2>
  <form #registrationForm="ngForm" (ngSubmit)="onSubmitR(registrationForm)">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="regUsername" />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="regPassword" />
    </div>
    <button type="submit">Register</button>
  </form>
</div>

