<!--Content-->
<div class="jumbotron jumbotron-fluid">
    <div class="content">
      <h3 class="display-5">Unit-3</h3>
      <p class="lead">The objective of this unit is to explain the importance of the analysis of algorithms, 
        their notations and how to calculate time and space complexities of advance Data Structures </p>
    </div>
</div> 
<!--Links-->
<div class="acc">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Module 1: Stacks
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="https://youtu.be/6T3jMNUCRNU">
            <input type="checkbox" name="link1" value="link">Introduction to Prefix, Infix and Postfix</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/JvuaAgDar1c">
            <input type="checkbox" name="link1" value="link">Introduction to Stacks Data Structure</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/V2reKQOgE88">
            <input type="checkbox" name="link1" value="link">Reversing a Stack</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/P31WyOcQvaE">
            <input type="checkbox" name="link1" value="link">Balanced Parenthesis</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/k1O1PhuarpI">
            <input type="checkbox" name="link1" value="link">Reversing a Sentence</a>
            <button type="button">Mark Attendance</button><br>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Module 2: Important Stack Problems
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="https://youtu.be/hGl8Boeb7S4">
            <input type="checkbox" name="link1" value="link">Problem 1: Largest Rectangle </a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/BsPbCLj4_Mw">
            <input type="checkbox" name="link1" value="link">Problem 2: Trapping Rainwater</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/rlCSjCGc3Z0">
            <input type="checkbox" name="link1" value="link">Problem 3: Redundant Parenthesis</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/XlD5VsOZsyA">
            <input type="checkbox" name="link1" value="link">Problem 4: Stocks Span</a>
            <button type="button">Mark Attendance</button><br>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Module 3: Queue
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="https://youtu.be/fbonDkYsKj0">
            <input type="checkbox" name="link1" value="link">Introduction to Queue Data Structure</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/Yi8Im4_eSQI">
            <input type="checkbox" name="link1" value="link">Linked List implementaion of Queue</a>
            <button type="button">Mark Attendance</button><br>
            <a href="https://youtu.be/FbPIay0KN00">
            <input type="checkbox" name="link1" value="link">Stacks using Queue</a>
            <button type="button">Mark Attendance</button><br>
        </mat-expansion-panel>
    </mat-accordion> 
</div>
