<!--Description-->
<div class="jumbotron jumbotron-fluid">
  <div class="content">
    <h3 class="display-5">Assessments</h3>
    <p class="lead">This Data Structures Algorithms Online Test simulates a real online exams. You will be presented Multiple Choice Questions (MCQs) based on Data Structures Algorithms Concepts, where you will be given four options. You will select the best suitable answer for the question and then proceed to the next question 
      without wasting given time. You will get your online test score after finishing the complete test. </p>
  </div>
</div>
<!--Cards-->
<div class="row">
  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">Sorting</p>
            <p>It's time to check your knowledge of Time and Space complexities of different sorts</p>
        </div>
        <div class="flip-card-back">
          <button class="button">
            Take Test
        </button>
        </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title"> Searching</p>
            <p>It's time to check your knowledge of Time and Space complexities of different searching algorithms</p>
        </div>
        <div class="flip-card-back">
          <button class="button">
            Take Test
        </button>
        </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">Linked List</p>
            <p>Why Linked Lists over Arrays? Implementation and top questions to solve real life problems</p>
        </div>
        <div class="flip-card-back">
          <button class="button">
            Take Test
        </button>
        </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">Stacks</p>
            <p> Push, Pop, Top, Peek ! Time to solve problems for basics of stacks.</p>
        </div>
        <div class="flip-card-back">
          <button class="button">
            Take Test
        </button>
        </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">Queues</p>
            <p> It's time to check your knowledge about Queue Data Structure. Grab your pen and paper to solve the questions</p>
        </div>
        <div class="flip-card-back">
          <button class="button">
            Take Test
        </button>
        </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">Graphs</p>
            <p>Here's the collection of the Top 50 list of frequently asked interviews question on Graphs.Take the test to assess yourself!</p>
        </div>
        <div class="flip-card-back">
          <button class="button">
            Take Test
        </button>
        </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">Trees</p>
            <p> Here's the collection of the Top 50 list of frequently asked interviews question on Tree. Take the test to assess yourself!</p>
        </div>
        <div class="flip-card-back">
          <button class="button">
            Take Test
        </button>
        </div>
    </div>
  </div> 

  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">Trie</p>
            <p>Dive into advance DSA</p>
        </div>
        <div class="flip-card-back">
          <button class="button">
            Take Test
        </button>
        </div>
    </div>
  </div>
</div>
