<!--Content-->
<div class="jumbotron jumbotron-fluid">
    <div class="content">
      <h3 class="display-5">Unit-1</h3>
      <p class="lead">The objective of this unit is to explain the importance of the analysis of algorithms, their notations and how to calculate time and space complexities.</p>
    </div>
</div> 
<!--Links-->
<div class="container">
    <form>
        <a href="https://youtu.be/oZ-ZIhJyy9o">
        <input type="checkbox" name="link1" value="link">Time Complexity</a><br>
        <a href="https://youtu.be/oSQbwlepoCU">
        <input type="checkbox" name="link1" value="link">Recursion: Basics</a><br>
        <a href="https://youtu.be/7F3MYyw3Jmg">
        <input type="checkbox" name="link1" value="link">Recursion: Advance</a><br>
        <a href="https://youtu.be/j9RG18jfnRY">
        <input type="checkbox" name="link1" value="link">Recursion: Must Practice Problems</a><br>
        <a href="https://youtu.be/9rt-hFcXd0M">
        <input type="checkbox" name="link1" value="link">Recursion: Advance Concepts Part-1</a><br>
        <a href="https://youtu.be/VQVeAQVs1d8">
        <input type="checkbox" name="link1" value="link">Recursion: Advance Concepts Part-2</a><br>
        <a href="https://youtu.be/dQa4A2Z0_Ro">
        <input type="checkbox" name="link1" value="link">Introduction to Sorting Algorithms</a><br>
        <a href="https://youtu.be/xcPFUCh0jT0">
        <input type="checkbox" name="link1" value="link">Bubble Sort</a><br>
        <a href="https://youtu.be/Z3dCjzhjAWA">
        <input type="checkbox" name="link1" value="link">Selection Sort</a><br>
        <a href="https://youtu.be/3GC83dh4cf0">
        <input type="checkbox" name="link1" value="link">Insertion Sort</a><br>
        <a href="https://youtu.be/4z9I6ZmeLOQ">
        <input type="checkbox" name="link1" value="link">Merge Sort</a><br>
        <a href="https://youtu.be/Dl6HT-NM_q4">
        <input type="checkbox" name="link1" value="link">Quick Sort</a><br>
        <a href="https://youtu.be/imqr13aIBAY">
        <input type="checkbox" name="link1" value="link">Count Sort</a><br>
        <a href=" https://youtu.be/13ocRMSJy5M">
        <input type="checkbox" name="link1" value="link">Searching</a><br>
        <a href="https://youtu.be/C46QfTjVCNU">
        <input type="checkbox" name="link1" value="link">Linear Search</a><br>
        <a href="https://youtu.be/9HlbVEVt_Y0">
        <input type="checkbox" name="link1" value="link">Binary Search</a><br>
        <a href="https://youtu.be/W8hPsBquD6Y">
        <input type="checkbox" name="link1" value="link">Strings: Introduction</a><br>
        <a href="https://youtu.be/1pVI0yiEBR8">
        <input type="checkbox" name="link1" value="link">Strings Challenges</a><br>
        <a href="https://youtu.be/0kfM_YEzR94">
        <input type="checkbox" name="link1" value="link">Hashing</a><br>
    </form>
</div>