<!--Content-->
<div class="jumbotron jumbotron-fluid">
    <div class="content">
      <h3 class="display-5">Unit-5</h3>
      <p class="lead">The objective of this unit is to cover few advance algorithms that can help you solve day to day problems.
    </p>
    </div>
</div> 
<!--Links-->
<div class="acc">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Module 1: Trie
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="https://youtu.be/dOXfffhl4uI">
            <input type="checkbox" name="link1" value="link">Introduction to Trie</a><br>
            <a href="https://youtu.be/akoIMy9NmFc">
            <input type="checkbox" name="link1" value="link">Trie: Problems</a><br>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Module 2: Dynamic Programming
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="https://youtu.be/sPeKpctCL-c">
            <input type="checkbox" name="link1" value="link">Introduction to Dynamic Programming</a><br>
            <a href="https://youtu.be/PPcpC5QbMx0">
            <input type="checkbox" name="link1" value="link">Knapsack Algorithm </a><br>
            <a href="https://youtu.be/CB8w6MzXsx4">
            <input type="checkbox" name="link1" value="link">0-1 Knapsack</a><br>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Module 3: Graph Algorithms
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="https://youtu.be/J7nUacHWtsM">
            <input type="checkbox" name="link1" value="link">Kruskal's Algorithm</a><br>
            <a href="https://youtu.be/IU5L8oePljw">
            <input type="checkbox" name="link1" value="link">Prims Algorithm</a><br>
            <a href="https://youtu.be/SnZ2SQARTVI">
            <input type="checkbox" name="link1" value="link">Dijkstra's Algorithm</a><br>
            <a href="https://youtu.be/LKfIjVZ6kg4">
            <input type="checkbox" name="link1" value="link">Bellman Ford Algorithm</a><br>
            <a href="https://youtu.be/wjv-w6q4ip4">
            <input type="checkbox" name="link1" value="link">Floyd Warshall Algorithm</a><br>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Module 4: String Algorithms
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="https://youtu.be/lhhqbGH7Pao">
            <input type="checkbox" name="link1" value="link">KMP Algorithm</a><br>
            <a href="https://youtu.be/-WdkLyTeZ3Q">
            <input type="checkbox" name="link1" value="link">Rabin Carp Algorithm</a><br>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Module 5: Miscellaneous Algorithms
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="https://youtu.be/-g_xhI_tZfA">
            <input type="checkbox" name="link1" value="link">Matrix Chain Multiplication</a><br>
            <a href="https://youtu.be/6PxU4rfnf4Q">
            <input type="checkbox" name="link1" value="link">Kadane Algorithm</a><br>
            <a href="https://youtu.be/fIQABUIeWYg">
            <input type="checkbox" name="link1" value="link">Fenwick Tree</a><br>
        </mat-expansion-panel>
    </mat-accordion>
</div>
