<!--Content-->
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="content">
          <h3 class="display-5">Unit-2</h3>
          <p class="lead">The objective of this unit is to explain Arrays, 2-D Arrays, diving deeper with Linked List, Getting a better 
            understanding of where to use Linked List and Arrays, Singly Linked List, Doubly Linked List.</p>
        </div>
    </div> 
    <!--Links-->
    <div class="acc">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                       Module 1: Bit Manipulation
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <a href="https://youtu.be/MiJdgxTWaFs">
                    <input type="checkbox" name="link1" value="link">Introduction to Bit Manipulation</a><br>
                    <a href="https://youtu.be/s8l8NWII3qw">
                    <input type="checkbox" name="link1" value="link">Bit Manipulation Challenge-1</a><br>
                    <a href="https://youtu.be/WEpLyOc0bCE">
                    <input type="checkbox" name="link1" value="link">Bit Manipulation Challenge-2</a><br>
            </mat-expansion-panel>
        </mat-accordion>
    
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                       Module 2: Arrays
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <a href="https://youtu.be/eJcBH0xvG98">
                <input type="checkbox" name="link1" value="link">Arrays</a><br>
                <a href="https://youtu.be/kJW_iXrwePE">
                <input type="checkbox" name="link1" value="link">Arrays Problems</a><br>
                <a href="https://youtu.be/7F3MYyw3Jmg">
                <input type="checkbox" name="link1" value="link">Subarrays Challenge</a><br>
                <a href="https://youtu.be/Xx1tWbb37hY">
                <input type="checkbox" name="link1" value="link">Introduction to 2-D Arrays</a><br>
                <a href="https://youtu.be/xKZFAkSt2UU">
                <input type="checkbox" name="link1" value="link">2-D Arrays Problems</a><br>
                <a href="https://youtu.be/TkTgo_7ab0M">
                <input type="checkbox" name="link1" value="link">Character Array Problems</a><br>
            </mat-expansion-panel>
        </mat-accordion>
    
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                       Module 3: Linked List
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <a href="https://youtu.be/Crqgl10aIGQ">
                <input type="checkbox" name="link1" value="link">Introduction to Linked List</a><br>
                <a href="https://youtu.be/kvk8gfAJLeg">
                <input type="checkbox" name="link1" value="link">Linked List: Deletion Operation</a><br>
                <a href="https://youtu.be/bjtMCwy_LMA">
                <input type="checkbox" name="link1" value="link">Reverse a Linked List</a><br>
                <a href="https://youtu.be/LCRGV8avvUY">
                <input type="checkbox" name="link1" value="link">Reverse K-Nodes in Linked List</a><br>
                <a href="https://youtu.be/Fj1ywT9ETQk">
                <input type="checkbox" name="link1" value="link">Detection and Removal of Cycle in Linked List</a><br>
                <a href="https://youtu.be/c_dqAyQu84A">
                <input type="checkbox" name="link1" value="link">Introduction to Doubly Linked List</a><br>
                <a href="https://youtu.be/1t8NAjIXvVA">
                <input type="checkbox" name="link1" value="link">Introduction to Circular Linked List</a><br>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    
</div>
