<h2>Assessment</h2>
<p>This Data Structures Algorithms Online Test simulates a real online certification exams. You will be presented Multiple Choice Questions (MCQs) based on Data Structures Algorithms Concepts, where you will be given four options. You will select the best suitable answer for the question and then proceed to the next question 
  without wasting given time. You will get your online test score after finishing the complete test.</p>
<div class="container">
    <div class="cards">
        <div class="image">
          <img src="../../assets/Sorting.jpg">
        </div>
        <div class="title">
          Sorting
        </div>
        <div class="desc">
          It's time to check your knowledge about Sorting, Time and Space complexities of different sorts
        </div>
        <div class="button">
          <button class="btn btn-success">Take Test</button>
          <button class="btn btn-primary">View Results</button>
        </div>
      </div>
      <div class="cards">
        <div class="image">
          <img src="../../assets/Searching.jpg">
        </div>
        <div class="title">
          Searching
        </div>
        <div class="desc">
          It's time to check your knowledge about Searching, Time and Space complexities of different searching algorithms.
        </div>
        <div class="button">
          <button class="btn btn-success">Take Test</button>
          <button class="btn btn-primary">View Results</button>
        </div>
      </div>
      <div class="cards">
        <div class="image">
          <img src="../../assets/Stacks.jpg">
        </div>
        <div class="title">
          Stacks
        </div>
        <div class="desc">
          Push, Pop, Top, Peek ! It's time to solve problems for Basics of Stacks to test your programming skills.
        </div>
        <div class="button">
          <button class="btn btn-success">Take Test</button>
          <button class="btn btn-primary">View Results</button>
        </div>
      </div>
      <div class="cards">
        <div class="image">
          <img src="../../assets/Queue.png">
        </div>
        <div class="title">
          Queues
        </div>
        <div class="desc">
          It's time to check your knowledge about Queue Data Structure. Grab your pen and paper to solve the questions
        </div>
        <div class="button">
          <button class="btn btn-success">Take Test</button>
          <button class="btn btn-primary">View Results</button>
        </div>
      </div>
      <div class="cards">
        <div class="image">
          <img src="../../assets/Graphs.jpg">
        </div>
        <div class="title">
          Graphs
        </div>
        <div class="desc">
          Here's the collection of the Top 50 list of frequently asked interviews question on Graphs.Take the test to assess yourself!
        </div>
        <div class="button">
          <button class="btn btn-success">Take Test</button>
          <button class="btn btn-primary">View Results</button>
        </div>
      </div>
      <div class="cards">
        <div class="image">
          <img src="../../assets/Trees.png">
        </div>
        <div class="title">
          Trees
        </div>
        <div class="desc">
          Here's the collection of the Top 50 list of frequently asked interviews question on Tree. Take the test to assess yourself!
        </div>
        <div class="button">
          <button class="btn btn-success">Take Test</button>
          <button class="btn btn-primary">View Results</button>
        </div>
      </div>
</div>
