table{
    // position: relative;
    // left: 29%;
    margin-top: 50px;
	border-collapse: collapse;
}

.table-container{
    display: flex;
    margin-left: 200px;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

td,th{
    width: 200px;
	padding: 15px;
}

th{
    background-color: black;
    color: white;
    padding: 20px 0px 20px 60px;
}

td{
    border: 1px solid black;
}

table tbody tr:nth-child(even){
    background-color: rgb(211, 207, 207);
}

.crud-container{
	// position: relative;
	// top: 50%;
	// left: 10%;
    display: flex;
    margin-top: 500px;
    flex-direction: column;
    font-size: 16px;
    width: 100%;
    row-gap: 60px;
    // height: 20em;
}

.add-container{
    display: flex;
    column-gap: 10px;
    margin-left: 100px;
    width: 90%;
    background-color: rgb(183, 180, 180);
    padding: 10px;
}

.add-container h3{
    font-size: 20px;
    font-weight: bold;
    margin-left: 60px;
    padding-top: 10px;
}

.update-container{
    display: flex;
    width: 90%;
    column-gap: 10px;
    margin-left: 100px;
    padding: 10px;
    background-color: rgb(183, 180, 180);
}

.update-container h3{
    font-size: 20px;
    font-weight: bold;
    margin-left: 60px;
    padding-top: 10px;
}

// .update-container input{
//     margin-left: 10px;
//     border-color: aquamarine;
// }


.get-btn{
    margin-top: 100px;
    width: 60px;
    // position: absolute;
    // left: 70em;
    // top: calc(100% - 50em);
    color: white;
}

table thead{
    width: calc(100% - 49em);
}

.add-btn{
    margin-left: 60px;
    color: white;
}


// h3{
//     position: relative;
//     top: 59%;
//     left: 50px;
//     font-weight: bold;
//     font-size: 20px;
//     text-decoration: underline black 2px;
// }

// form:nth-child(2){
//     position: relative;
//     top: 140px;
// }

// .second{
//     position: relative;
//     top: 72.5%;
//     left: 50px;
//     font-weight: bold;
//     font-size: 20px;
//     text-decoration: underline black 2px;
// }

.add-form{
    display: flex;
    gap: 10px;
    height: 30px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 65px;
}

.update-form{
    display: flex;
    gap: 10px;
    height: 30px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}