mat-sidenav-container
{
    height: calc(205vh - 115vh);
    background-color: #16bca8;
}
mat-sidenav
{
    width: 200px;
    background-color: white;
}
mat-list-item
{
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    color: rgba(0, 0, 0, .87);
    text-align: left;
    height: 40px;
    padding-top: 16px;
    padding-left: 20px;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,.12);
    
}
.is-active {
    font-weight: bold;
}
mat-sidenav-container
{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,170,176,1) 79%, rgba(0,205,172,1) 100%);
}
mat-sidenav
{
    background-color: #E8F7E4;
}
*
{
    padding: 0;
    margin: 0;
}
a:link 
{ 
    text-decoration: none; 
    color: green;
}


a:visited { text-decoration: none;
    color: green; }


a:hover { text-decoration: none; 
    color: green;}


a:active { text-decoration: none;
    color: green; }