.container 
{
   padding: 0;
   margin: 30px;
   width: 100%;
   margin-bottom: 20px;
}
.content
{
   text-align: center;
}
.display-5
{
   padding-top: 2px;
   padding-bottom: 5px;
}
.jumbotron {
   padding: 10px;
}