<!--Content-->
<div class="jumbotron jumbotron-fluid">
    <div class="content">
      <h3 class="display-5">Unit-4</h3>
      <p class="lead">In this unit we will cover Heap,Trees 
        and Graphs along with some problems to make you familiar with these concepts</p>
    </div>
</div> 
<!--Links-->
<div class="container">
    <form>
        <a href="https://youtu.be/MCuERE9Ewbo">
        <input type="checkbox" name="link1" value="link">Introduction to Heap Data Structure</a><br>
        <a href="https://youtu.be/XzA5Ts_vXfw">
        <input type="checkbox" name="link1" value="link">Heap using STL</a><br>
        <a href="https://youtu.be/j6iP4lDTKyI">
        <input type="checkbox" name="link1" value="link">Min Heap & Max Heap </a><br>
        <a href="https://youtu.be/HqPJF2L5h9U">
        <input type="checkbox" name="link1" value="link">Heap Sort and Heapify</a><br>
        <a href="https://youtu.be/_jKa4gycZTw">
        <input type="checkbox" name="link1" value="link">Introduction to Binary Tree</a><br>
        <a href="https://youtu.be/67zlUtAr2LE">
        <input type="checkbox" name="link1" value="link">Binary Tree Traversal</a><br>
        <a href="https://youtu.be/HJKoNLGRnYk">
        <input type="checkbox" name="link1" value="link">Build tree from Preorder and Inorder </a><br>
        <a href="https://youtu.be/PJX9T2oVKmk">
        <input type="checkbox" name="link1" value="link">Build tree from Postorder and Inorder </a><br>
        <a href="https://youtu.be/eGc5TQpBMjA">
        <input type="checkbox" name="link1" value="link">Introduction to Graph Data Structure</a><br>
        <a href="https://youtu.be/ymMZEudHUsk">
        <input type="checkbox" name="link1" value="link">Terminologies in Graph</a><br>
        <a href="https://youtu.be/3pr9Ce9vECc">
        <input type="checkbox" name="link1" value="link">Representaion of Graph</a><br>
        <a href="https://youtu.be/geOBaNYYInc">
        <input type="checkbox" name="link1" value="link">Breadth First Search (BFS)</a><br>
        <a href="https://youtu.be/GmZNp9_-imM">
        <input type="checkbox" name="link1" value="link">Depth First Search (BFS)</a><br>
        <a href="https://youtu.be/orl8SsQOToc">
        <input type="checkbox" name="link1" value="link">Bipartite Graph</a><br>
        <a href="https://youtu.be/nY-VMGp72NI">
        <input type="checkbox" name="link1" value="link">Connected Componenets</a><br>
        <a href="https://youtu.be/dOXfffhl4uI">
        <input type="checkbox" name="link1" value="link">Introduction to Trie</a><br>
        <a href="https://youtu.be/akoIMy9NmFc">
        <input type="checkbox" name="link1" value="link">Trie: Problems</a><br>
    </form>
</div>