<!--Content-->
<div class="jumbotron jumbotron-fluid">
    <div class="content">
      <h3 class="display-5">Course Overview</h3>
      <p class="lead">Learning DSA is quite important as Data Structures are the building block of software 
        development and Algorithms provide efficiency while solving a problem. Hence, learning DSA will make 
        you a better problem-solver and help you crack coding rounds in tech companies. To ease your learning, 
        we have covered all the topics. We encourage you to go through all the topics and take assessments regularly </p>
    </div>
</div>
<!--Units Overview-->
<div class="acc">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Unit 1
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>The objective of this unit is to explain the importance of the analysis of algorithms, their notations and how to calculate time and space complexities.
                The topics covered in this unit are: <br><br>
            <li>Learn to calculate Space & Time Complexities</li>
            <li>Recursion</li>
            <li>Sorting Algorithms</li>
            <li>Searching Algorithms</li>
            <li>String Algortihms</li>
            <li>Hashing</li>
        </p>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Unit 2
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>The objective of this unit is to explain the importance 2-D Arrays, introduction to Arrays, diving deeper with Linked List, 
                Getting a better understanding of where to use Linked List and Arrays, Singly Linked List, Doubly Linked List. 
                <br>The topics covered in this unit are: <br><br>
            <li>Bitwise</li>
            <li>Matrix/Grid</li>
            <li>Arrays</li>
            <li>Arrays VS Linked List</li>
            <li>Linked List</li>
        </p>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Unit 3
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>The objective of this unit is to explain the importance of the analysis of algorithms, their notations and how to calculate time and space complexities.
                The topics covered in this unit are: <br><br>
            <li>Stacks</li>
            <li>Queues</li>
            <li>Doubly Ended Queue</li>
        </p>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Unit 4
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>In this unit we will cover Heap,Trees and Graphs along with some problems to make you familiar with these concepts
                <br>The topics covered in this unit are: <br><br>
            <li>Heap: Min and Max</li>
            <li>Binary Search Tree</li>
            <li>Red Black Tree</li>
            <li>Graphs</li>
            <li>Trie</li>
        </p>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Unit 5
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>The objective of this unit is to cover few advance algorithms that can help you solve day to day problems.
                The topics covered in this unit are: <br><br>
            <li>Divide and Conquer</li>
            <li>Greedy Approach</li>
            <li>Dynamic Programming</li>
        </p>
        </mat-expansion-panel>
    </mat-accordion>
</div>